{% style %}
          .choko-banner {
          text-align: center;
          position: relative;
          padding: 100px 0;
          }
          
          .choko-banner .img-overlay span:nth-child(1) {
          left: 154px;
          }
          
          .choko-banner .img-overlay span:nth-child(1) {
          left: 154px;
          }
          .choko-banner .img-overlay span:nth-child(2) {
          left: 154px;
          bottom: 184px;
          }
          .choko-banner .img-overlay span:nth-child(3) {
          left: 154px;
          right: -58%;
          }
          .choko-banner .img-overlay span:nth-child(4) {
          left: 9%;
          right: -68%;
          top: 39%;
          }
          .choko-banner .img-overlay span:nth-child(5) {
          left: 154px;
          right: -58%;
          top: 64%;
          }
          
          .choko-banner  .img-overlay span {
          position: absolute;
          animation: bannerbouns 2s infinite linear;
          }
          
          .choko-banner h2 {
          text-transform: uppercase;
          color: #fff;
          font-weight: 600;
          text-align: center;
          font-size: 60px;
          width: 100%;
          max-width: 792px;
          margin: auto;
          }
          
          .site-btn a {
          font-size: 16px;
          text-decoration: none;
          background-color: #171140;
          border-radius: 11px;
          padding: 17px 90px;
          text-transform: uppercase;
          display: inline-block;
          font-weight: 700;
          border:none !important;
          color: #fff;
          margin-top: 12px;
          transition: all 0.2s linear;
          }
          
          .site-btn a:hover {
          background-color: #F2FA79 !important;
          border: 2px solid #853D03;
          color: #000 !important;
          transition: all 0.2s linear;
          border:none !important;
          }
          
          .choko-banner p {
          color: #fff;
          font-size: 25px;
          }
          
          .choko-banner .img img {
          object-fit: cover;
          width: 100%;
          max-width: 265px;
          }
          
          
          
          
          
          
          @keyframes bannerbouns {
          0% {
          
          }
          
          50% {
          transform: translateY(-10%);
          }
          
          100% {
          
          }
          }
          
          @media(max-width:1207px) {
          .choko-banner .img-overlay span:nth-child(1) {
          left: 39px;
          }
          
          .choko-banner .img-overlay span:nth-child(2) {
          left: 48px;
          bottom: 184px;
          }
          }
          
          @media(max-width:981px) {
          .choko-banner h2 {
          text-transform: uppercase;
          color: #fff;
          font-weight: 600;
          text-align: center;
          font-size: 45px;
          width: 100%;
          max-width: 792px;
          margin: auto;
          }
          
          .choko-banner .content .img img {
          object-fit: cover;
          max-width: 266px;
          }
          
          .choko-banner .img-overlay span:nth-child(2) {
          left: 48px;
          bottom: 88px;
          }
          .choko-banner .img-overlay img {
          object-fit: cover;
          max-width: 100px !important;
          }
          }
          
          @media(max-width:731px) {
          .choko-banner h2 {
          text-transform: uppercase;
          color: #fff;
          font-weight: 600;
          text-align: center;
          font-size: 37px;
          width: 100%;
          max-width: 792px;
          margin: auto;
          }
          .choko-banner .content .img img {
          object-fit: cover;
          max-width: 225px;
          }
          .choko-banner .site-btn a {
          font-size: 16px;
          text-decoration: none;
          background-color: #E70276;
          border-radius: 11px;
          padding: 17px 67px;
          text-transform: uppercase;
          display: inline-block;
          font-weight: 700;
          color: #fff;
          margin-top: 12px;
          transition: all 0.2s linear;
          }
          .choko-banner .img-overlay img {
          object-fit: cover;
          max-width: 78px !important;
          }
          
          
          }
          
          @media(max-width:601px) {
          .choko-banner .img-overlay span:nth-child(1) {
          left: 39px;
          top: 19px;
          }
          .choko-banner .img-overlay span:nth-child(3) {
          left: 154px;
          right: -50%;
          top: 28px;
          }
          .choko-banner .img-overlay span:nth-child(2) {
          left: 48px;
          bottom: 44%;
          }
          
          .choko-banner .img-overlay span:nth-child(5) {
          left: 154px;
          right: 26%;
          top: 84%;
          }
          }
          
          @media(max-width:409px) {
          .choko-banner .img-overlay span:nth-child(2) {
          left: 5px;
          bottom: 44%;
          display: none;
          }
          .choko-banner .img-overlay span:nth-child(4) {
          left: 9%;
          right: -67%;
          display: none;
          top: 39%;
          }
          .choko-banner .img-overlay span:nth-child(3) {
          left: 154px;
          right: -25%;
          top: 28px;
          }
          .choko-banner .img-overlay span:nth-child(5) {
          left: 125px;
          right: 36%;
          top: 89%;
          }
          .choko-banner h2 {
          text-transform: uppercase;
          color: #fff;
          font-weight: 600;
          text-align: center;
          font-size: 31px;
          width: 100%;
          max-width: 792px;
          margin: auto;
          }
          }
{% endstyle %}
{% for block in section.blocks %}
{% endfor %}
<div class="choko-banner" style="background-color:{{ section.settings.section_background_color }};">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="img-overlay">
          {% for block in section.blocks %}
            <span class="overlay-img">
              <img src="{{ block.settings.image | img_url: '100x' }}" alt="">
            </span>
          {% endfor %}
        </div>
        <div class="content">
          <div class="logo">
            {% if section.settings.logo_image %}
              <img
                src="{{ section.settings.logo_image | img_url: '100x' }}"
                alt="{{ section.settings.logo_image_alt }}"
              >
            {% endif %}
          </div>
          <div class="main-heading">
            <h2>{{ section.settings.main_heading }}</h2>
          </div>
          <p>{{ section.settings.pragraph }}</p>
          <div class="img">
            {% if section.settings.main_image %}
              <img
                src="{{ section.settings.main_image | img_url: '400x' }}"
                alt="{{ section.settings.main_image_alt }}"
              >
            {% endif %}
          </div>
          <div class="site-btn">
            <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "choko banner",
  "settings": [
      {
      "type": "color",
      "id": "section_background_color",
      "label": "Section Background Color"
    },
    {
      "type": "image_picker",
      "id": "overlay_image",
      "label": "Overlay Image"
    },
    {
      "type": "text",
      "id": "overlay_image_alt",
      "label": "Overlay Image Alt Text"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo Image"
    },
    {
      "type": "text",
      "id": "logo_image_alt",
      "label": "Logo Image Alt Text"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading"
    },
    {
      "type": "textarea",
      "id": "pragraph",
      "label": "Pragraph"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main Image"
    },
    {
      "type": "text",
      "id": "main_image_alt",
      "label": "Main Image Alt Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    }
  ],
  "blocks": [
    {
      "type": "image_block",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "add images"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Choko Banner"
    }
  ]
}
{% endschema %}
