{% style %}
.scrolling-image .announcement-bar span {
  color: #fff;
  white-space: nowrap;
}
.scrolling-image .page-width.utility-bar__grid {
  display: flex;
  align-items: center;
}
.scrolling-image li.list-social__item svg {
  color: #fff;
}

.scrolling-image .container {
  width: 100%;
  max-width: 1340px;
  margin: auto;
}

.scrolling-image .layout {
  display: flex;
  gap: 50px;
}
.scrolling-image .custom-column-left {
  width: 60%;
}
.scrolling-image .custom-column-right {
  width: 40%;
}

.scrolling-image svg.icon {
  margin-left: -44px;
  width: 30px;
  height: 30px;
  margin-right: 13px;
}
.scrolling-image .content {
  position: relative;
}
.scrolling-image h2 {
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  color: #6d7175;
}
.scrolling-image .content {
  margin: 0;
}
.scrolling-image .custom-column-left .scrolling-image:first-child {
  padding: 0;
}
.scrolling-image .custom-column-left .scrolling-image {
  padding-top: 100px;
}
.scrolling-image .custom-column-left .scrolling-image img {
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
  width: 100%;
  object-fit: cover;   
}

.scrolling-image .list-content .heading,
.scrolling-image_slide .list-content .heading {
  display: flex;
  align-items: start;
  margin-top: 31px;
}

.scrolling-image .custom-column-left .scrolling-image.active img {
  opacity: 1;
}
  
.scrolling-image .custom-column-right {
  position: sticky;
  top: 180px;
  height: calc(33vh + 50px);
}
.scrolling-image .content {
  opacity: 0;
  height: 0;
  transition: all 0.4s ease-in-out;
}

.scrolling-image .content.active {
  display: block;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.mobile {
  display: none;
}

.slick-dots li button:before {
  font-family: slick;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  content: "\2022";
  text-align: center;
  opacity: 1 !important;
  border-radius: 100%;
  border: 1.5px solid #d8d8d1;
  color: transparent !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  background: #6d7175;
}

.scrolling-image_slide img {
  max-width: 100%;
  object-fit: cover;
}

.slick-initialized .slick-slide {
  display: block;
  margin: 0 10px;
}

/* Apply dynamic max-width and media shape to images */
.scrolling-image img {
  max-width: {{ section.settings.image_max_width }}px;
}

{% if section.settings.media_shape == "rounded" %}
  .scrolling-image img {
    border-radius: 15px;
  }
{% elsif section.settings.media_shape == "circle" %}
  .scrolling-image img {
    border-radius: 50%;
  }
{% endif %}

.scrolling-image img.icon-img,
.scrolling-image_slide img.icon-img {
  width: 100%;
  max-width: 65px;
  margin-right: 20px;
}

@media(max-width:768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  .scrolling-image_slide img {
    width: 100%;
    object-fit: cover;
  }
}

.scrolling-image_slide.mobile {
  overflow-x: hidden !important;
  padding: 50px 0 !important;
}
{% endstyle %}

<!-- Outer section container with a data attribute for its default background color -->
<div
  class="scrolling-image desktop"
  data-section-bg-color="{{ section.settings.section_background_color }}"
  style="padding-top:{{ section.settings.padding_top }}px; padding-bottom:{{ section.settings.padding_bottom }}px; background-color:{{ section.settings.section_background_color }};">
  <div class="container">
    <div class="layout" style="flex-direction: {{ section.settings.image_align }} ;">
      <div class="custom-column-left">
        {% assign images = section.blocks | where: 'type', 'img-box' %}
        {% for image in images %}
          <div class="scrolling-image" id="img-{{ forloop.index }}" data-id="{{ forloop.index }}">
            <div class="image-block" {% if image.settings.block_background_color_button %} data-block-bg-color="{{ image.settings.block_background_color }}" {% endif %} > 
              <img src="{{ image.settings.animate-img | img_url: '700x' }}" alt="">
            </div>    
          </div>
        {% endfor %}
      </div>
      <div class="custom-column-right">
        {% assign texts = section.blocks | where: 'type', 'txt-box' %}
        {% for text in texts %}
          <div class="content" id="text-{{ forloop.index }}" data-id="{{ forloop.index }}">
            <div class="subheading">{{ text.settings.heading }}</div>
            <div class="list-content">
              <div class="heading">
                <div class="icon">
                  {% if text.settings.show_icon %}
                    <img class="icon-img" src="{{ text.settings.icon | img_url: '300x' }}" alt="">
                  {% endif %}
                </div>
                <div class="heading-content">
                  <h2>{{ text.settings.main_heading }}</h2>
                  <p>{{ text.settings.content }}</p> 
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div
  class="scrolling-image_slide mobile"
  style="background-color:{{ section.settings.section_background_color }};
         padding-top:{{ section.settings.padding_top }}px;
         padding-bottom:{{ section.settings.padding_bottom }}px;">
  <div class="container">
    <div class="layout_slide">
      <div class="custom-column custom_slide">
        {% assign images = section.blocks | where: 'type', 'img-box' %}
        {% assign texts = section.blocks | where: 'type', 'txt-box' %}
        <!-- Loop through each image/text pair -->
        {% for image in images %}
          <div class="box">
            <div class="scrolling-image_slide">
              <img src="{{ image.settings.animate-img | img_url: '700x' }}" alt="">
            </div>
            {% assign text = texts[forloop.index0] %}
            <div class="content_slide">
              <div class="subheading">{{ text.settings.heading }}</div>
              <div class="list-content">
                <div class="heading">
                  <div class="icon">
                    {% if text.settings.show_icon %}
                      <img class="icon-img" src="{{ text.settings.icon | img_url: '300x' }}" alt="">
                    {% endif %}
                  </div>
                  <div class="heading-content">
                    <h2>{{ text.settings.main_heading }}</h2>
                    <p>{{ text.settings.content }}</p> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>





{% schema %}
{
  "name": "scrolling image section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Section Background Color",
      "default": "#F3F1E9"
    },
    {
      "type": "range",
      "id": "image_max_width",
      "label": "Image Max Width (px)",
      "default": 708,
      "min": 100,
      "max": 2000,
      "step": 19,
      "unit": "px"
    },
  
    {
      "type": "select",
      "id": "media_aspect_ratio",
      "label": "Media Aspect Ratio",
      "default": "1",
      "options": [
        {
          "value": "s",
          "label": "Height of shortest media"
        },
        {
          "value": "t",
          "label": "Height of tallest media"
        },
        {
          "value": "2",
          "label": "Landscape (2x1)"
        },
        {
          "value": "1.5",
          "label": "Landscape (6x4)"
        },
        {
          "value": "1.25",
          "label": "Landscape (5x4)"
        },
        {
          "value": "1",
          "label": "Square (1x1)"
        },
        {
          "value": "0.8",
          "label": "Portrait (4x5)"
        }
      ],
    },
    {
      "type": "select",
      "id": "image_align",
      "label": "Image alignment",
      "default": "row",
      "options": [
        {
          "value": "row",
          "label": "row"
        },
        {
          "value": "row-reverse",
          "label": "row-reverse"
        },
      ]
    }
  ],
  "blocks": [
    {
      "type": "img-box",
      "name": "image block",
      "settings": [
        {
          "type": "image_picker",
          "id": "animate-img",
          "label": "Add Image"
        },
          {
      "type": "checkbox",
      "id": "block_background_color_button",
      "label": "Block background Color On OFf"
    },
        {
          "type": "color",
          "id": "block_background_color",
          "label": "Block Background Color",
          "default": "#F3F1E9"
        }
      ]
    },
    {
      "type": "txt-box",
      "name": "Text block",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Add Heading"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "checkbox",
          "id": "show_icon",
          "label": "Show Icon"
        },
        {
          "type": "text",
          "id": "main_heading",
          "label": "Add Main Heading"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Add Content"
        },
        {
          "type": "color",
          "id": "block_background_color",
          "label": "Block Background Color",
          "default": "#F3F1E9"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "scrolling image section"
    }
  ]
}
{% endschema %}


